<mat-toolbar color="primary">
  <button mat-mini-fab color="primary" (click)="home_buttom()"><mat-icon>home</mat-icon></button>
  <button mat-menu-item (click)="search_buttom()">Search</button>
  <button mat-button [matMenuTriggerFor]="user">User</button>
  <mat-menu #user="matMenu">
    <button mat-menu-item (click)="create_post_buttom()">Criar Post</button>
    <button mat-menu-item>Perfil</button>
  </mat-menu>
</mat-toolbar>

<!--<style>-->
  <!--.cont {-->
    <!--text-align: center;-->
    <!--position: relative;-->
  <!--}-->

  <!--.half {-->
    <!--border: 1px solid red;-->
    <!--display: inline-block;-->
    <!--height: 500px;-->
    <!--max-width: 500px;-->
  <!--}-->

  <!--.center-left {-->
    <!--text-align: right;-->
  <!--}-->

  <!--.center-right {-->
    <!--text-align: left;-->
    <!--width: 500px;-->
  <!--}-->

  <!--.sub {-->
    <!--position: absolute;-->
  <!--}-->
<!--</style>-->

<!--&lt;!&ndash;<div class="cont">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="center-left half">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="https://images-na.ssl-images-amazon.com/images/I/718pIJ74CkL.jpg" height="500px"/>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="center-right half">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="sub">&ndash;&gt;-->
      <!--&lt;!&ndash;<h2>LINGUAGEM C</h2>&ndash;&gt;-->
      <!--&lt;!&ndash;<div>&ndash;&gt;-->
        <!--&lt;!&ndash;<h3>Preço</h3> <span>R$ 50,00</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div>&ndash;&gt;-->
        <!--&lt;!&ndash;<h3>Descrição</h3> <span>Deixe de ser noob! Venha aprender C!</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div>&ndash;&gt;-->
        <!--&lt;!&ndash;<h3>Categoria</h3> <span>Livro</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div>&ndash;&gt;-->
        <!--&lt;!&ndash;<h3>Estoque restante</h3> <span>5</span>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;<form>&ndash;&gt;-->
        <!--&lt;!&ndash;<label>Checkout</label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input required type="number" name="quantity" min="1" [max]="product?.stock" [(ngModel)]="qnt">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-success" (click)="addToCheckout()">+Carrinho</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-info" [routerLink]="['/editProduct', id]">Editar</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
